.main
  h1 Welcome To HackYale!
  h3 This course will focus on front end technologies
  ul
    li HTML
    li CSS
    li JavaScript
  h2 CSS
  p CSS is the <span class='emph'>style</span> of the web.
  p With CSS, you can color, arrange, and generally style your page. In addition, you can add small amounts of dynamic activity, like the underline you'll see as the mouse hovers over the "JavaScript" link.
  p Next, let's check out <a href='/welcome/js'>JavaScript</a>.