h1 Welcome To HackYale!
h3 This course will focus on front end technologies
ul
  li HTML
  li CSS
  li JavaScript
h2 HTML
p HTML is the <em>content</em> of the web. Without it, none of your favorite sites would exist. You can write links to places like <a href='http://www.google.com/'>Google</a>, <a href='http://www.nytimes.com/'>The New York Times</a> or anywhere you like!
p If you go to the 'view' menu in chrome, scroll to 'developer', and click 'view source', you can see the HTML (among other things) that your browser rendered. (shortcut: command + option + u.)
p This page is <b>just</b> HTML.
p Next, let's check out <a href='/welcome/css'>CSS</a>.