#confetti_0
  #confetti_1
    #confetti_2
      #confetti_3
.main
  h1 Welcome To HackYale!
  h3 This course will focus on front end technologies
  ul
    li HTML
    li CSS
    li JavaScript
  h2 JavaScript
  p JavaScript is the <span class='prog'>Logic</span> of the web.
  p Javascript, unlike HTML and CSS, is a real (and robust) programming language. With JavaScript, you can react to events, build classes (don't worry if you don't know what this means quite yet.), and create dynamic web pages.
  p Let's <a id='rain' href='#'>make it rain</a> right quick and then check out <a href='/demo'>what is really going on</a>.